# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.project.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\thecr\Documents\epita\git\s2\project\.idea\.idea.project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
